<table class="table table-bordered">
  <thead>
    <th>用户</th>
    <th>请假时长(hr)</th>
    <th>请假类型</th>
    <th>起始时间</th>
  </thead>
  <tbody>
    <% @details.each do |detail| %>
      <tr>
        <td><%= detail.user.name %></td>
        <td><%= detail.hours %></td>
        <td><%= get_leave_type_name(detail.type) %></td>
        <td><%= detail.start_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
